<!DOCTYPE html>
<html>
    <head>
    <title>公众号菜单设置</title>
</head>
<body>

<form method="post" action="/menu">
<div>
<p>菜单一</p>
<p>一级菜单</p>
<p><input type="text" name="menu1"><select name="menu1_type"><option value ="0">click</option><option value ="1">view</option></select><input type="text" name="menu1_"></p>
<p>二级菜单</p>
<p><input type="text" name="menu11"><select name="menu11_type"><option value ="0">click</option><option value ="1">view</option></select><input type="text" name="menu11_"></p>
<p><input type="text" name="menu12"><select name="menu12_type"><option value ="0">click</option><option value ="1">view</option></select><input type="text" name="menu12_"></p>
<p><input type="text" name="menu13"><select name="menu13_type"><option value ="0">click</option><option value ="1">view</option></select><input type="text" name="menu13_"></p>
</div>

<p>菜单二</p>
<p>一级菜单</p>
<p><input type="text" name="menu2"><select name="menu2_type"><option value ="0">click</option><option value ="1">view</option></select><input type="text" name="menu2_"></p>
<p>二级菜单</p>
<p><input type="text" name="menu21"><select name="menu21_type"><option value ="0">click</option><option value ="1">view</option></select><input type="text" name="menu21_"></p>
<p><input type="text" name="menu22"><select name="menu22_type"><option value ="0">click</option><option value ="1">view</option></select><input type="text" name="menu22_"></p>
<p><input type="text" name="menu23"><select name="menu23_type"><option value ="0">click</option><option value ="1">view</option></select><input type="text" name="menu23_"></p>
</div>


<p>菜单三</p>
<p>一级菜单</p>
<p><input type="text" name="menu3"><select name="menu3_type"><option value ="0">click</option><option value ="1">view</option></select><input type="text" name="menu3_"></p>
<p>二级菜单</p>
<p><input type="text" name="menu31"><select name="menu31_type"><option value ="0">click</option><option value ="1">view</option></select><input type="text" name="menu31_"></p>
<p><input type="text" name="menu32"><select name="menu32_type"><option value ="0">click</option><option value ="1">view</option></select><input type="text" name="menu32_"></p>
<p><input type="text" name="menu33"><select name="menu33_type"><option value ="0">click</option><option value ="1">view</option></select><input type="text" name="menu33_"></p>
</div>
<input type="submit" value="提交">
</form>
</body>
</html>
